<ion-content>
  <ion-input readonly [value]="input"></ion-input>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="medium" (click)="removeNum()">AC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="medium">+/-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="medium">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="warning">/</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="addNum(7)">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="addNum(8)">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="addNum(9)">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="warning">x</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="addNum(4)">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="addNum(5)">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="addNum(6)">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="warning">-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="addNum(1)">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="addNum(2)">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="addNum(3)">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="warning">+</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
